<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>baker</display-name>
  <welcome-file-list>

    <welcome-file>bakeryindex.jsp</welcome-file>
  </welcome-file-list>
  
  
<servlet>

<description/>

<display-name>LoginController</display-name>

<servlet-name>LoginController</servlet-name>

<servlet-class>controllers.LoginController</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>LoginController</servlet-name>

<url-pattern>/LoginController.java</url-pattern>

</servlet-mapping>


<servlet>

<description/>

<display-name>AdminOperationController</display-name>

<servlet-name>AdminOperationController</servlet-name>

<servlet-class>controllers.AdminOperationController</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>AdminOperationController</servlet-name>

<url-pattern>/AdminOperationController</url-pattern>

</servlet-mapping>


<servlet>

<description/>

<display-name>RegisterCustomerController</display-name>

<servlet-name>RegisterCustomerController</servlet-name>

<servlet-class>controllers.RegisterCustomerController</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>RegisterCustomerController</servlet-name>

<url-pattern>/RegisterCustomerController</url-pattern>

</servlet-mapping>


<servlet>

<description/>

<display-name>CustomerLogoutService</display-name>

<servlet-name>CustomerLogoutService</servlet-name>

<servlet-class>services.CustomerLogoutService</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>CustomerLogoutService</servlet-name>

<url-pattern>/CustomerLogoutService</url-pattern>

</servlet-mapping>


<servlet>

<description/>

<display-name>AdminConfirmOrderService</display-name>

<servlet-name>AdminConfirmOrderService</servlet-name>

<servlet-class>services.AdminConfirmOrderService</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>AdminConfirmOrderService</servlet-name>

<url-pattern>/AdminConfirmOrderService</url-pattern>

</servlet-mapping>


<servlet>

<description/>

<display-name>ProductDisplayService</display-name>

<servlet-name>ProductDisplayService</servlet-name>

<servlet-class>services.ProductDisplayService</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>ProductDisplayService</servlet-name>

<url-pattern>/ProductDisplayService</url-pattern>

</servlet-mapping>


<servlet>

<description/>

<display-name>AddToCartServices</display-name>

<servlet-name>AddToCartServices</servlet-name>

<servlet-class>services.AddToCartServices</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>AddToCartServices</servlet-name>

<url-pattern>/AddToCartServices</url-pattern>

</servlet-mapping>

</web-app>
